includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon
rules:
	- Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
parameters:
	level: 9
	paths:
		- src
		- tests
